* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
}

.leftContainer {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.iconLabels {
  font-weight: bold;
  color: #7B7B7B;
}

.loginForm {
  margin-top: 1.5em;
  padding-left: 7rem;
}

#label2 {
  margin-top: 1.5rem;
}

.loginForm input {
  width: 22rem;
  height: 3rem;
  color: #7B7B7B;
  font-size: 1rem;
}

#Register {
  color: #853DD9;
  font-weight: bold;
}

#FPassword {
  color: #853DD9;
  font-weight: bold;
  font-size: .75rem;
  float: right;
  margin-right: 8.5rem;
  margin-top: 1.5rem;
  display: inline;
}

.leftContainer button {
  margin-top: 2rem;
  width: 22rem;
  height: 3rem;
  border-radius: 30rem;
  border: none;
  background-color: #853DD9;
  color: white;
  font-size: 1.4rem;
}

.leftContainer img {

  width: 10rem;
  align-self: center;

}

.bottomTag {
  display: flex;
  flex-grow: 1;
  font-size: .75rem;
  align-items: flex-end;
  align-self: center;
  margin-bottom: 1rem;
}

.bottomTag p{
  display: inline;
  bottom: 0;
  white-space: pre;
}

.rightContainer {
  background-color: #9A9A9A;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#couch {
  display: flex;
  flex-grow: 1;
  width: 36rem;
  margin-left: 5rem;
  align-items: flex-end;
  margin-top: 6rem;
  overflow: auto;
}

#welcome {
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;
}
