* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
}

.leftContainer {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.iconLabels {
  font-weight: bold;
  color: #7B7B7B;
}

.loginForm {
  margin-top: 1.5em;
  align-self: center;
}

#label2 {
  margin-top: 1.5rem;
}

.loginForm input {
  width: 22rem;
  height: 3rem;
  color: #7B7B7B;
  font-size: 1rem;
  border: 0.1em solid #707070;
  padding-left: 0.3rem;
}

.loginForm input:focus {
  outline: none;
}

#Register {
  color: #853DD9;
  font-weight: bold;
}

#FPassword {
  color: #853DD9;
  font-weight: bold;
  font-size: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  float: right;

}

.leftContainer button:hover {
  cursor: pointer;
}

.leftContainer button {
  width: 22rem;
  height: 3rem;
  border-radius: 30rem;
  border: none;
  background-color: #853DD9;
  color: white;
  font-size: 1.4rem;
}

.leftContainer img {
  width: 10rem;
  align-self: center;
}

.bottomTag {
  display: flex;
  flex-grow: 1;
  font-size: .75rem;
  align-items: flex-end;
  align-self: center;
  margin-bottom: 1rem;
}

.bottomTag p{
  display: inline;
  bottom: 0;
  white-space: pre;
}

.rightContainer {
  background-color: #9A9A9A;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#couch {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  align-items: flex-end;
  align-self: center;
  padding-bottom: 1rem;
}

#couch img{
  width: 36rem;
}

#welcome {
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;
}

#navbar {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 100vw;
  border-bottom: 0.15em solid #d1d1d1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: #606060;
  text-decoration: none;
  line-height: 3rem;
  transition: all 0.5s ease;
}

#navbardark {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 3rem;
  width: 100vw;
  border-bottom: 0.15em solid #1E0738;
  background-color: #1E0738;
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  line-height: 3rem;
}

#logoNavbar{
  max-height: 2rem;
  margin: 0.5rem auto;
  margin-left: 1rem;
  margin-right: 3rem;
}

#navbarLeft div{
  padding: 0 1rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

#navbarLeft div:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#navbarRight {
  transition: all 0.3s ease;
  display: block;
  overflow: hidden;
}

#navbarRight div:nth-child(1) {
  padding: 0 1rem;
}

#navbarRight:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#navbarLeft {
  display: flex;
}

#navbarSearch{
  width: 30rem;
  min-height: 1.85rem;
  margin: 0.5rem auto;
  font-size: 1rem;
  padding-left: 0.5rem;
  border-radius: 30rem;
  border: 0.15em solid #5e5e5e;
  font-size: 0.9rem;
  color: #5e5e5e;
}

#navbarSearch:focus{
  outline:none;
}

#navbar button{
  width: 2rem;
  height: 1.85rem;
  margin-right: 2rem;
  margin: 0.5rem auto;
}

#dropMenuShow {
  display: block;
  position: fixed;
  background-color: #f9f9f9;
  width: initial;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  top: 0;
  right: 0;
  color: black;
  align-items: center;
  transition: all 2s ease;
}

#dropMenu {
  display: none;
}

#profile {
  padding: 0 1rem;
}

#userName {
  height: 1.2em;
  font-size: 0.9rem;
}

#userEmail {
  font-size: 0.7rem;
}

.dropdownItems a{
  color: black;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
}

#dropdownInnerContents {
  transition: all 0.3s ease;
}

.dropdownItems {
  padding: 0 1rem;
  text-align: center;
  transition: all 0.5s ease;
  font-size: 0.9rem;
}

.dropdownItems:hover{
  cursor: pointer;
  background-color: lightgray;
}

#navbardark #darkMode {
  display: none;
}

#navbar #lightMode {
  display: none;
}

#navClose{
  width: 2rem;
  height: 2rem;
  color: #853DD9;
  display: inline;
}

#navClose:hover{
  cursor: pointer;
}

#bottomNavbar {
  height: 2rem;
  align-items: center;
  display:flex;
}

#signout {
  margin-left: 3.6rem;
  float: right;
  color: #853DD9;
  text-decoration: none;
  font-size: 0.9rem;
}

.sidebarMin .SideIconsSelected {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 15%;
  color: #853DD9;
}

.sidebarMax .SideIconsSelected {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  color: #853DD9;
}

.sidebarMin .SideIcons {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 15%;
}

.sidebarMax .SideIcons {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.sidebarMax {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 10rem;
  transition: all 0.5s ease;
}

#sidebarLight {
  background-color: #DBDBDB;
}

#sidebarDark {
  background-color: #1E0738;
}

.sidebarMax .linksNameSelected {
  color: #853DD9;
  font-weight: bold;
}

.sidebarMin .linksNameSelected {
  display: none;
}

.sidebarMin .linksName {
  display: none;
}

.sidebarMin {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  padding: 0.25rem 0.5rem;
  height: 100%;
  width: 3rem;
  transition: all 0.5s ease;
  overflow: hidden;
}

#sidebarDark #menu {
  color: white;
}

#sidebarDark #close {
  color: white;
}

.sidebarMax #close {
  width: 3rem;
  height: 3rem;
  margin-left: 1%;
  position: relative;
  float: left;
}

.sidebarMin #menu {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  margin-bottom: 75%;
}

#menu:hover{
  cursor: pointer;
}

#close:hover{
  cursor: pointer;
}

.sidebarMax li{
  position: relative;
  height: 5rem;
  list-style: none;
  padding-left: 1.5rem;
  line-height: 5rem;
  transition: all 0.4s ease;
}

.sidebarMin li{
  position: relative;
  height: 2.5rem;
  border-radius: 0.5rem;
  list-style: none;
  transition: all 0.4s ease;
  text-align: center;
  padding-top: 0.5rem;
  margin: 0.5rem 0px;
}

#sidebarDark .navList li a{
  color: white;
}

#sidebarLight .navList li a{
  color: #606060;
}

.navList li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navList li:hover{
  background-color: white;
}

.homepage #mapMin{
  margin-top: 3rem;
  margin-left: 3rem;
  transition: all 0.5s ease;
  width: 110vw;
}

.homepage #mapMax{
  margin-top: 3rem;
  margin-left: 10rem;
  transition: all 0.5s ease;
  width: 110vw;
}

.temp{
  text-align: center;
  color: black;
}

.sidebarMax .profile {
  width: 2.8rem;
  height: 2.8rem;
  border-style: solid;
  border-radius: 50%;
  border-color: #494949;
  color: #494949;
  background-color: white;
  position: relative;
  float: right;
  border-width: 0.15rem;
  margin-right: 13%;
  text-align: center;
  line-height: 2.6rem;
}

.sidebarMin .profile { 
  display: none;
}

.sidebarMax .sidebarTop {
  margin-bottom: 0rem;
}

.sidebarMax #menu {
  display: none;
}

.sidebarMin #close {
  display: none;
}

#sidebarDark #settingsIcon{
  color: white;
}

#sidebarDark #contactLink{
  color: white;
}

#sidebarLight #settingsIcon{
  color: #606060;
}

#sidebarLight #contactLink{
  color: #606060;
}

.sidebarMax #bottomTagSidebar {
  display: flex;
  text-decoration: none;
  flex-grow: 1;
  font-size: .75rem;
  align-items: flex-end;
  margin-bottom: 3.3rem;
  padding-left: 0.5rem;
}

.sidebarMax #contactLink{
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
}

#contactLink:hover{
  text-decoration: underline;
}

.sidebarMax #settingsIcon {
  height: 1.5rem;
  width: 1.5rem;
  float: left;
}

.sidebarMax #settingsIconSelected {
  height: 1.5rem;
  width: 1.5rem;
  float: left;
  color: #853DD9;
}

.sidebarMin #bottomTagSidebar {
  display: flex;
  flex-grow: 1;
  font-size: .75rem;
  align-items: flex-end;
  align-self: center;
  margin-bottom: 2.5rem;
}

.sidebarMin #bottomTagSidebar div {
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  list-style: none;
  transition: all 0.4s ease;
  text-align: center;
  padding-top: 0.25rem;
  margin: 0.5rem 0px;
}

.sidebarMin #settingsIcon {
  height: 1.5rem;
  width: 1.5rem;
  color: #494949;
}

.sidebarMin #settingsIconSelected {
  height: 1.5rem;
  width: 1.5rem;
  color: #853DD9;
}

.sidebarMin #bottomTagSidebar div:hover {
  background-color: white;
}

.sidebarMin #contactLink{
  display: none;
}

#eventMax {
  min-height: 100vh;
  display: inline-block;
  margin-left: 10rem;
  background: rgb(180,149,216);
  background: linear-gradient(315deg, rgba(180,149,216,1) 0%, rgba(255,255,255,1) 100%);
  text-align: start;
  transition: all 0.5s ease;
}

#eventMin {
  min-height: 100vh;
  display: inline-block;
  margin-left: 3rem;
  background: rgb(180,149,216);
  background: linear-gradient(315deg, rgba(180,149,216,1) 0%, rgba(255,255,255,1) 100%);
  text-align: start;
  transition: all 0.5s ease;
}

#eventMax .eventItems {
  width: 22rem;
  height: 15rem;
  border: 0.15rem solid black;
  display: inline-block;
  margin: 2rem 2.3rem;
  border-radius: 10%;
  overflow: hidden;
  background-color: white;
}

#eventMin .eventItems {
  width: 18.5rem;
  height: 15rem;
  border: 0.15rem solid black;
  display: inline-block;
  margin: 2rem 1.6rem;
  border-radius: 10%;
  background-color: white;
}

#eventMax #item1 {
  margin-top: 5rem;
}

#eventMin #item1 {
  margin-top: 5rem;
}

#eventMax #timeAndName {
  height: 4rem;
  padding: 0% 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#eventMax #timeAndName p{
  font-size: 2rem;
}

#eventMax .profile {
  width: 2.8rem;
  height: 2.8rem;
  border-style: solid;
  border-radius: 50%;
  border-color: #494949;
  color: #494949;
  float: right;
  border-width: 0.15rem;
  text-align: center;
  line-height: 2.6rem;
  margin-left: 40%;
}

#eventMax #title {
  height: 3rem;
  overflow: hidden;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
}

#eventMax #detailedText {
  height: 5.5rem;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

#eventMax #bottomTag {
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0% 1rem;
}

#eventMax .eventIcons {
  width: 1.5rem;
  height: 1.5rem;
}

#eventMin .eventIcons {
  width: 1.4em;
  height: 1.4rem;
}

#eventMax .eventIcons:hover{
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
}

#eventMin .eventIcons:hover{
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
}

#eventMax .IconAndText p {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.IconAndText {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#eventMin #timeAndName {
  height: 3.5rem;
  padding: 0% 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#eventMin #timeAndName p{
  font-size: 2rem;
}

#eventMin .profile {
  width: 2.8rem;
  height: 2.8rem;
  border-style: solid;
  border-radius: 50%;
  border-color: #494949;
  color: #494949;
  float: right;
  border-width: 0.15rem;
  text-align: center;
  line-height: 2.6rem;
  margin-left: 30%;
}

#eventMin #title {
  height: 3rem;
  overflow: hidden;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
}

#eventMin #detailedText {
  height: 5.5rem;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

#eventMin #bottomTag {
  height: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0% 1rem;
}

#eventMin .IconAndText p {
  margin-left: 0.3rem;
}

#heartno #heartActive {
  display: none;
  transition: all 0.5s ease;
}

#heartyes #heartInactive {
  display: none;
  transition: all 0.5s ease;
}

#goingno #goingActive {
  display: none;
  transition: all 0.5s ease;
}

#goingyes #goingInactive {
  display: none;
  transition: all 0.5s ease;
}

.temp {
  text-align: center;
  font-size: 5rem;
  padding-top: 2.5rem;
}